/* Blog Content */
.markdownContent h1,
.markdownContent h2,
.markdownContent h3,
.markdownContent h4,
.markdownContent h5,
.markdownContent h6 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
    color: #111827;
}

.markdownContent h1 {
    font-size: 2.5rem;
}

.markdownContent h2 {
    font-size: 2rem;
}

.markdownContent h3 {
    font-size: 1.75rem;
}

.markdownContent h4 {
    font-size: 1.5rem;
}

.markdownContent h5 {
    font-size: 1.25rem;
}

.markdownContent h6 {
    font-size: 1rem;
}

.markdownContent p {
    margin-bottom: 1.5rem;
    font-size: 16px;
    line-height: 1.6;
    color: #4b5563;
}

.markdownContent img {
        height: 400px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.markdownContent ol li,
.markdownContent ul li {
    color: #4b5563;
}
.markdownContent img:hover {
    transform: scale(1.05);
}

.markdownContent code {
    background-color: #f4f4f4;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 14px;
}

.markdownContent pre {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 20px;
}

.markdownContent blockquote {
    background-color: #f9f9f9;
    border-left: 5px solid #ccc;
    padding: 15px;
    font-style: italic;
    margin: 20px 0;
    font-size: 1.1rem;
}

.markdownContent a {
    color: #007bff;
    text-decoration: underline;
}

.markdownContent a:hover {
    text-decoration: none;
    color: #0056b3;
}

/* Sidebar */
.sidebar {
    background-color: #f9fafb;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.sidebar ul li img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #8B4513;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Responsive Design */
@media (max-width: 768px) {
    .markdownContent h1 {
        font-size: 2rem;
    }

    .markdownContent p {
        font-size: 14px;
    }

    .sidebar {
        padding: 20px;
    }

    .sidebar ul li {
        flex-direction: column;
        align-items: flex-start;
    }
}